<h1>Some Bouts of Frivolous Information</h1>
<form action='/word_count'>
  <div class="form-group">
    <label for="word_input">Enter the word:</label><br>
    <input id="word_input" name="word_input" class="form-control" type="text">
  </div>
  <br>
  <div class="form-group">
    <label for="sentence_input">Enter your sentence:</label> <br>
    <input id="sentence_input" name="sentence_input" class="form-control" type="text">
  </div>
  <br><button type="submit" class="btn-success">boom</button>
</form>
