<h1>Figure out some useless information</h1>
<form action='/word_count'>
  <div class="form-group">
    <label for="word_input">Enter the word:</label>
    <input id="word_input" name="word_input" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sentence_input">Enter your sentence:</label>
    <input id="sentence_input" name="sentence_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Enter</button>
</form>
